footer {
  border-top: 1px solid var(--primary-gray-color);
}

.footer-paragraph {
  margin: 1rem 0;
  font-size: 0.8rem;
  text-align: center;
  color: var(--primary-gray-color);
}

.footer-link {
  color: var(--primary-blue-color);
}

.footer-link:hover {
  text-decoration: underline;
}