.main-container {
  width: 80vw;
  margin: 3rem auto;
}

label {
  color: var(--primary-gray-color);
}

input {
  width: 78.8vw;
  height: 8vh;
  margin-bottom: 1rem;
  outline: none;
  border: 1px solid var(--primary-gray-color);
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  color: var(--primary-gray-color);
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

input:focus {
  color: var(--primary-green-color);
  border: 1px solid var(--secondary-gray-color);
}

input:focus::placeholder {
  color: var(--secondary-gray-color);
}

::placeholder {
  font-size: 1rem;
}

.fa-question-circle {
  color: var(--primary-gray-color);
  font-size: 0.9rem;
}

.birthday-container {
  width: 78.8vw;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.birth-date {
  display: flex;
  align-items: center;
  width: 25vw;
  height: 5vh;
  border: 1px solid var(--primary-gray-color);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--primary-gray-color);
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.birth-date:focus {
  color: var(--primary-green-color);
  border: 1px solid var(--secondary-gray-color);
}

option {
  color: var(--primary-gray-color);
}

.active-item {
  color: var(--secondary-gray-color);
}

.gender-container {
  width: 78.8vw;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0 1rem 0;
  color: var(--primary-green-color);
}

.gender-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 22vw;
  height: 5vh;
  border: 1px solid var(--primary-gray-color);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--primary-gray-color);
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  padding: 0 0.25rem 0 0.25rem;
}

.gender-input-container:focus {
  border: 1px solid var(--secondary-gray-color);
}

.gender-input {
  width: 0.7rem;
  margin-bottom: -0.1rem;
  border: var(--secondary-green-color);
}

.information {
  font-size: 0.6rem;
  margin-bottom: 1rem;
  color: var(--primary-gray-color);
}

.term-link {
  color: var(--primary-green-color);
  font-weight: bold;
}

.button {
  width: 79.5vw;
  height: 8vh;
  background: var(--primary-green-color);
  color: var(--white-color);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 5px;
}

.button:hover {
  background: var(--secondary-green-color);
  transition: .5s;
}