.main-container {
  width: 80vw;
  margin: 3rem auto;
}

input {
  width: 78.8vw;
  height: 8vh;
  margin-bottom: 1rem;
  outline: none;
  border: 1px solid var(--primary-gray-color);
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  color: var(--primary-gray-color);
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

input:focus {
  color: var(--primary-blue-color);
  border: 1px solid var(--secondary-gray-color);
}

input:focus::placeholder {
  color: var(--secondary-gray-color);
}

::placeholder {
  font-size: 1rem;
}

.button {
  width: 79.5vw;
  height: 8vh;
  background: var(--primary-blue-color);
  color: var(--white-color);
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 5px;
}

.button:hover {
  background: var(--secondary-blue-color);
  transition: .5s;
}

.form-container p {
  margin-top: 1rem;
  text-align: center;
}

.form-paragraph {
  color: var(--primary-blue-color);
}

.form-paragraph:hover {
  text-decoration: underline;
}