:root {
  --white-color: #fff;
  --black-color: #000;
  --gray-background-color: #f1f2f6;
  --blue-color: #3B5999;
  --primary-gray-color: #95979d;
  --secondary-gray-color: #d0cfd3;
  --primary-green-color: #42b72a;
  --secondary-green-color: #32a520;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
}

body {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}